.card {
    flex-basis: 251px;
}

.card-header {
    display: grid;
}

.card .card-display-buttons,
.card .card-img {
    grid-area: 1/1;
}

.card .card-img img {
    width: 200px;
    height: 170px;
    object-fit: contain;
}

.danger-active {
    background-color: var(--red);
    color: var(--white);
    border: none !important;
}